<!DOCTYPE html>
<html lang="en">
  <head>
    <title>HomePage</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <%- console.log(currentUser) %>
      <h1>Hello World</h1>
    </main>
  </body>
</html>
