<!DOCTYPE html>
<html>
  <head>
    <title>File Uploader</title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <main>
      <div>
        <p>Well yeah</p>
      </div>
      <a href="/sign-up">
          <button>Sign Up</button>
      </a>
      <a href="/login">
        <button>Login</button>
      </a>
    </main>
  </body>
</html>
