<!DOCTYPE html>
<html lang="en">
  <head>
    <title> Sign Up </title>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <form action="/sign-up" method="post">
      <input type="text" name="username" placeholder="Username" />
    </form>
  </body>
</html>
